Práctica 3 - Estadísticas descriptivas

In [6]:
import pandas as pd
from IPython.display import display, Markdown

# crear dataframe
df = pd.read_csv('us-software-engineer-jobs-zenrows.csv')

columns_list = df.columns.tolist()

# Columnas del dataframe
print("Column Names:", columns_list)

Column Names: ['title', 'company', 'salary', 'rating', 'review_count', 'types', 'location', 'relative_time', 'hires_needed', 'hires_needed_exact', 'urgently_hiring', 'remote_work_model', 'snippet', 'dradis_job', 'link', 'new_job', 'job_link', 'sponsored', 'featured_employer', 'indeed_applyable', 'ad_id', 'remote_location', 'source_id', 'hiring_event_job', 'indeed_apply_enabled', 'job_location_postal', 'company_overview_link', 'activity_date', 'location_extras']

In [9]:
filtered_df = df[df['rating'] != 0]

company_avg_rating = filtered_df.groupby('company')['rating'].mean().reset_index()

top_10_companies = company_avg_rating.sort_values(by='rating', ascending=False).head(10)

print(top_10_companies)

                    company  rating
6292       ​Markesman Group     5.0
4803    Seraphic Group, Inc     5.0
3007    Kalven Technologies     5.0
4806          Serry Systems     5.0
5878         Vexterra Group     5.0
3002                 Kajabi     5.0
3000          Kaizen Health     5.0
2996  KaRDS Cyber Solutions     5.0
2985                  KLap6     5.0
5877                 VetsEZ     5.0

Esto no es igual de util, empresas pequeñas reciben menos ratings y por lo tanto tienen mejores puntuaciónes, podemos corregir esto tomando en cuenta la cantidad de reviews (haciendo uso de un threshold)

In [14]:
company_avg_and_count = filtered_df.groupby('company')['rating'].agg(['mean', 'count']).reset_index()

# contar con al menos 200 reviews para figurar en el top 10 empresas
threshold = 200

company_avg_and_count = company_avg_and_count[company_avg_and_count['count'] >= threshold]

top_10_companies = company_avg_and_count.sort_values(by='mean', ascending=False).head(10)

print(top_10_companies)

                 company  mean  count
4698          Salesforce   4.3    432
2750              Indeed   4.3   1166
3491           Microsoft   4.2    353
5038              Splunk   4.2    341
5776  VMware Engineering   4.1    491
2052            Facebook   4.1    210
5775              VMware   4.1    629
135            Accenture   4.0    371
629               BOEING   4.0    222
1082         Capital One   3.9   1063

In [16]:
top_locations = df['location'].value_counts().head(10)
print(top_locations)

location
Remote               6730
New York, NY         2529
San Francisco, CA    1996
Austin, TX           1971
Boston, MA           1300
Seattle, WA          1175
Chicago, IL          1126
Atlanta, GA          1023
San Jose, CA          988
Washington, DC        691
Name: count, dtype: int64

In [18]:
urgently_hiring_counts = df.groupby('company')['urgently_hiring'].sum().reset_index()

urgently_hiring_counts = urgently_hiring_counts.sort_values(by='urgently_hiring', ascending=False)

top_10_urgently_hiring = urgently_hiring_counts.head(10)

print(top_10_urgently_hiring)

                              company  urgently_hiring
1570   Buddy Web Design & Development              345
9886                      Underdog.io              106
2384                     Confidential               78
8463          SilverStone Talent, LLC               70
1384              BlueInGreen Digital               64
7963             Robotic Research LLC               63
7345                 Prime Trust, LLC               58
3983              Genesys Impact, LLC               57
1217                         Bellhops               57
4352  Health Data Analytics Institute               56